<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alby Pawdrobe</title>
</head>
<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/breeds">Breeds</a></li>
    <li><a href="/addresses">Addresses</a></li>
    </ul>
</nav>
<body>

    {{{body}}}

</body>
</html>
