<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alby Pawdrobe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/customers">Customer Profiles</a></li>
            <li><a href="/dogs">Pup Profiles</a></li>
            <li><a href="/addresses">Address Library</a></li>
            <li><a href="/breeds">Breed Library</a></li>
            <li><a href="/products">Product Catalog</a></li>
            <li><a href="/orders">Order Hub</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>
