<!-- index.hbs -->
<h1>Navigation</h1>
<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/breeds">Breeds</a></li>
    <li><a href="/addresses">Addresses</a></li>
    </ul>
</nav>